{% extends 'dummy.html' %}

{% block title %} login page {% endblock %}



{% block content %}

    <form method="POST">

        <center>
            <h1>log In Form</h1>
            {% csrf_token %}

            <label for="un">username</label>
            <input type="text" name="un" id="un"> <br><br>

            <label for="pw">password</label>
            <input type="password" name="pw" id="pw"><br><br>

            <input type="submit" name="" id="" value="log in">
        </center>
    </form>

{% endblock %}
    
